In [1]:
import pandas as pd
!pip install openpyxl

Requirement already satisfied: openpyxl in /Users/breeze/anaconda3/envs/dev/lib/python3.11/site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in /Users/breeze/anaconda3/envs/dev/lib/python3.11/site-packages (from openpyxl) (1.1.0)

In [6]:
# import the excel file
crowdfunding = pd.read_excel("./Starter_Files/Resources/crowdfunding.xlsx")
crowdfunding

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks

In [8]:
# get the unique category and create the dataframe
category = crowdfunding['category & sub-category'].str.split('/',expand=True)[0].unique()
categories_df= pd.DataFrame(category,columns=['category'])
categories_df

       category
0          food
1         music
2    technology
3       theater
4  film & video
5    publishing
6         games
7   photography
8    journalism

In [10]:
#add the category_id as consecutive
categories_df['category_id']=['cat{}'.format(i+1) for i, _ in enumerate(categories_df['category'])]
categories_df

       category category_id
0          food        cat1
1         music        cat2
2    technology        cat3
3       theater        cat4
4  film & video        cat5
5    publishing        cat6
6         games        cat7
7   photography        cat8
8    journalism        cat9

In [11]:
#reorder the columns in the dataframe

categories_df=categories_df[['category_id','category']]
categories_df

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [12]:
#export the data frame in a csv

categories_df.to_csv('category.csv',index=False)

In [17]:
# get the unique category and create the dataframe
category = crowdfunding['category & sub-category'].str.split('/',expand=True)[1].unique()
subcategories_df= pd.DataFrame(category,columns=['subcategory'])
subcategories_df

          subcategory
0         food trucks
1                rock
2                 web
3               plays
4         documentary
5      electric music
6               drama
7          indie rock
8           wearables
9          nonfiction
10          animation
11        video games
12             shorts
13            fiction
14  photography books
15   radio & podcasts
16              metal
17               jazz
18       translations
19         television
20       mobile games
21        world music
22    science fiction
23              audio

In [18]:
#add the category_id as consecutive
subcategories_df['subcategory_id']=['subcat{}'.format(i+1) for i, _ in enumerate(subcategories_df['subcategory'])]
subcategories_df

          subcategory subcategory_id
0         food trucks        subcat1
1                rock        subcat2
2                 web        subcat3
3               plays        subcat4
4         documentary        subcat5
5      electric music        subcat6
6               drama        subcat7
7          indie rock        subcat8
8           wearables        subcat9
9          nonfiction       subcat10
10          animation       subcat11
11        video games       subcat12
12             shorts       subcat13
13            fiction       subcat14
14  photography books       subcat15
15   radio & podcasts       subcat16
16              metal       subcat17
17               jazz       subcat18
18       translations       subcat19
19         television       subcat20
20       mobile games       subcat21
21        world music       subcat22
22    science fiction       subcat23
23              audio       subcat24

In [19]:
#reorder the columns in the dataframe

subcategories_df=subcategories_df[['subcategory_id','subcategory']]
subcategories_df

   subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio

In [20]:
#export the data frame in a csv

subcategories_df.to_csv('subcategory.csv',index=False)